
DBUSER = Your-Database-User


DBNAME = Your-Database-Name


DBPASSWORD =Your-Database-Password


DBROUTE = Your-Database-Route


OPENAI_KEY = Your-OpenAI-Key

# <"gpt-5.6-sol" | "gpt-5.6-terra" | "gpt-5.6-luna">
OPENAI_MODEL = OpenAI-Model-You-Prefer